{%block lefter%}
<div class="span3">
    <div class="sidebar-nav">
        <div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu"><i class="icon-briefcase"></i>基础资源管理<span class="label label-info">+10</span></div>
        <ul id="dashboard-menu" class="nav nav-list collapse in">
            <li ><a href="/servers/">主机管理</a></li>
            <li ><a href="/cabinets/">机柜管理</a></li>
            <li ><a href="/idcs/">机房管理</a></li>
        </ul>
        <div class="nav-header" data-toggle="collapse" data-target="#accounts-menu"><i class="icon-briefcase"></i>业务资源管理<span class="label label-info">+10</span></div>
        <ul id="accounts-menu" class="nav nav-list collapse in">
            <li ><a href="/apps/">应用管理</a></li>
            <li ><a href="/">业务管理</a></li>
            <li ><a href="/services/">服务管理</a></li>
            <li ><a href="/clusters/">集群管理</a></li>
        </ul>

        <div class="nav-header" data-toggle="collapse" data-target="#settings-menu"><i class="icon-user"></i>用户管理<span class="label label-info">+10</span></div>
        <ul id="settings-menu" class="nav nav-list collapse in">
            <li ><a href="/usres/">用户管理</a></li>
            <li ><a href="/groups/">用户组</a></li>
        </ul>

        <!--<div class="nav-header" data-toggle="collapse" data-target="#legal-menu"><i class="icon-legal"></i>Legal</div>-->
        <!--<ul id="legal-menu" class="nav nav-list collapse in">-->
            <!--<li ><a href="privacy-policy.html">Privacy Policy</a></li>-->
            <!--<li ><a href="terms-and-conditions.html">Terms and Conditions</a></li>-->
        <!--</ul>-->
    </div> <!--网站侧边栏-->
</div>
{%end%}