{%extends 'main.html'%}
{%include 'header.html'%}
{%include 'lefter.html'%}
{%block righter%}
<div class="span9">
            <h1 class="page-title">Edit Server</h1>
<div class="btn-toolbar">
        <button class="btn btn-primary" onclick="updateServer()"><i class="icon-save" ></i> Save</button>
        <a href="#myModal" id={{server[0]}} data-toggle="modal" class="btn" onclick="setDelId(this.id)">Delete</a>
<div class="btn-group">
    <input type="hidden" id="del_Id"/>
  </div>
</div>
<div class="well">
    <div id="myTabContent" class="tab-content">
        <label>Server ID</label><input type="text" id="serverId" value={{server[0]}} class="input-xlarge" readonly>
        <label>Server Name</label>
        <input type="text" id="serverName" value={{server[1]}} class="input-xlarge">
        <label>IP Address</label>
        <input type="text" id="serverIPAddr" value={{server[2]}} class="input-xlarge">
        <label>OS</label>
        <input type="text" id="serverOS" value={{server[4]}} class="input-xlarge">
        <label>description</label>
        <textarea id="serverDesc" value={{server[0]}} rows="3" class="input-xlarge">
            {{server[3]}}
        </textarea>
      </div>
  </div>
<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete Confirmation</h3>
  </div>
  <div class="modal-body">
    <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-danger" data-dismiss="modal" onclick="deleteServer()">Delete</button>
  </div>
</div>

</div>

{%end%}
{%include 'footer.html'%}