{%extends 'main.html'%}
{%block content%}
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav pull-right">
                    
            </ul>
            <a class="brand" href="index.html"><span class="first">Your</span> <span class="second">Company</span></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="dialog span4">
            <div class="block">
                <div class="block-heading">Sign In</div>
                <div class="block-body">
                    <form>
                        <label>Username</label>
                        <input type="text" class="span12">
                        <label>Password</label>
                        <input type="password" class="span12">
                        <a href="/" class="btn btn-primary pull-right">Sign In</a>
                        <label class="remember-me"><input type="checkbox"> Remember me</label>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <p><a href="reset-password.html">Forgot your password?</a></p>
        </div>
    </div>
</div>
{%end%}

    

    

    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    
    
    
    
    
    
    
    
    
    
    
    

  </body>
</html>


