{%extends 'main.html'%}
{%include 'header.html'%}
{%include 'lefter.html'%}
{%block righter%}

<div class="span9">
    <h2 class="span3 page-title">主机列表</h2>
    <div class="btn-toolbar pagination-right">
        <button class="btn btn-primary"><i class="icon-plus"></i> 添加主机</button>
        <button class="btn">导入</button>
        <button class="btn">导出</button>
        <div class="btn-group"></div>
    </div>
    <div class="well">
    <table class="table">
      <thead>
        <tr>
          <!--<th>#</th>-->
          <th>Server Name</th>
          <th>IP Address</th>
          <th>description</th>
          <th style="width: 26px;"></th>
        </tr>
      </thead>
      <tbody>
      <input type="hidden" id="del_Id"/>
        {%for server in servers[6*int(num)-6:6*int(num)]%}
        <tr>
          <!--<td>{{server[0]}}</td>-->
          <td>{{server[1]}}</td>
          <td>{{server[2]}}</td>
          <td>{{server[3]}}</td>
          <td>
              <a href="/server/{{server[0]}}"><i class="icon-pencil"></i></a>
              <a href="#myModal" id={{server[0]}}  role="button" data-toggle="modal" onclick="setDelId(this.id)"><i class="icon-remove"></i></a>
          </td>
        </tr>
        {%end%}
      </tbody>
    </table>
    <div class="pagination pagination-right pagination-lg pull-right">
        <ul>
        {%if page > 1%}
            <li><a href="/servers/">&laquo;</a></li>
        {%for i in range(1,page+1)%}
            <li><a href="/servers/{{i}}">{{i}}</a></li>
        {%end%}
            <li><a href="/servers/">&raquo;</a></li>
        </ul>
        {%end%}
    </div >
</div>

<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete Confirmation</h3>
  </div>
  <div class="modal-body">
    <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-danger"  data-dismiss="modal" onclick=deleteServer(this)>Delete</button>
  </div>
</div>
</div>
{%end%}
{%include 'footer.html'%}

