<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Jscntech Pre DeployTool</title>
  </head>
  <body>
    <div id="body">
      <div id="inbox">
      </div>
      <div id="input">
        <form action="/getlog" method="get" id="messageform">
          <table>
            <tr>
              <td>项目地址:</td>
              <td><input name="url" id="message" style="width:500px"></td>
            </tr>
            <tr>
              <td style="padding-right:5px">
                <input type="submit" value="{{ _("Deploy") }}">
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
